//colors
$purple: #540d6e;
$yellow: #ffd140;
$dark-pink: #ee4367;
$grey: #a8a8a8;
$green: rgba(8, 173, 105, 1);
$light-pink: #f56b88;

//fonts
$primary-font: "gills-sans-regular", sans-serif;
$secondary-font: "PT Serif", serif;

//sizes
$logo-width: 92px;
$logo-height: 38px;

$nav-link-width: 280px;

$nav-width: 980px;
$nav-height: 93px;

$max-width: 1280px;

$hero-height: 400px;

$blog-hero-height: 300px;

$blog-date-width: 155px;
$blog-date-height: 155px;
$blog-date-font-size-num: 55px;
$blog-date-font-size-month: 31px;
$blog-grid-width: 380px;
$blog-grid-height: 140px;

$blog-card-width: 380px;
$blog-card-height: 285px;
